h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:relative;
    top:0;
    z-index: 5;
}

mat-sidenav-container {
    height: calc(100vh - 64px);
}


.content {
    padding: 24px;
}